/* Positionierung des "Fehler melden"-Buttons */
#report-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 30px;
}

/* Box für das Fehlerformular */
#report-box {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 300px;
    display: none;
    z-index: 1000;
}
.centered-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    display:none;
}
body{
    background: url('http://localhost:63342/ferkel-frontend/images/image.png') center top;
    background-size: 100% auto;
}
